@import '../common/colors.scss';
@import '../common/Fonts.scss';
@import url('hds-core');

.input-container {
  .input-header-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 4px;
    margin-top: 20px;
  }
  .input-header {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    z-index: 1;
    .input-title{
      display: flex;
      flex-flow: column;
      height: 100%;
      font-weight: 500;
    }
    .hide{
      display: none;
    }
    .input-locked{
      font-family: 'Helsinki Grotesk Medium', sans-serif;
      font-size: $size14;
      height: 18px;
      display:inline-flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      color:$color-info-dark;
      margin-top: 4px;
      margin-bottom: 8px;
      svg{
        height: 18px;
        width: 18px;
        margin-left: -4px;
      }
    }
    .input-editable{
      display:inline-flex;
      margin-left:5px;
      padding:5px;
      color:$color-bus;
      border:2px solid $color-bus;
    }
  }

  .input-header-icons {
    display: flex;
    margin-right: 8px;
    margin-left: 8px;

    @media screen and (min-width: 600px) {
      margin-right: 4px;
    }

    .input-info {
      background: url('./assets/icons/field-info-icon.svg') no-repeat center;
      width: $size16;
      height: $size16;
    }

    .input-history {
      font-weight: 100;
      color: lightgray;
      margin-right: 4px;
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      :nth-child(2) {
        margin: 2px 0 0 5px;
      }
    }
  }
  .selection{
    div{
      button{
        svg{
          pointer-events: none !important;
        }
      }
    }
  }

  .rolling-info-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Helsinki Grotesk Medium", sans-serif;
    font-size: $size16;
    line-height: $size24;
    color: $color-black-90;
    padding-top: $size4;
    padding-bottom: $size12;
    height: 100%;

    .text-input{
      width: 80%;
      padding-left: $size16;

      .content{
        font-family: "Helsinki Grotesk Regular", sans-serif;
        font-size: $size16;
        opacity: 1 !important;
        border: none !important;
        color: $color-black-90;
        background: transparent;
        height: 100%;
        padding: 0;
        word-break: break-word;
      }

      .rolling-richtext{
        .ql-toolbar{
          display: none;
        }
        .ql-container{
          border:none;
          font-family: "Helsinki Grotesk Regular", sans-serif;
          font-size: $size16;
          .ql-editor{
            padding: 0;
            p{
              font-family: "Helsinki Grotesk Regular", sans-serif;
              font-size: $size16;
              opacity: 1 !important;
              border: none !important;
              background: transparent;
              height: 100%;
              padding: 0;
              word-break: break-word;
            }
          }
        }
      }
    }

    button {
      position: absolute;
      top: $size4;
      right: 0;
      font-size: $size16;
      align-self: flex-start;
      justify-self: flex-end;
    }

    .text-input-italic {
      width: 80%;
      padding-left: $size14;
      .content{
        font-family: "Helsinki Grotesk Regular", sans-serif;
        font-size: $size14;
        opacity: 1 !important;
        border: none !important;
        color: $max-markings-color;
        background: transparent;
        font-style: italic;
        height: 100%;
        padding: 0;
        word-break: break-word;
      }
      .rolling-richtext{
        .ql-toolbar{
          display: none;
        }
        .ql-container{
          border:none;
          font-family: "Helsinki Grotesk Regular", sans-serif;
          font-size: $size14;
          .ql-editor{
            padding: 0;
            p{
              font-family: "Helsinki Grotesk Regular", sans-serif;
              font-size: $size14;
              opacity: 1 !important;
              border: none !important;
              background: transparent;
              font-style: italic;
              height: 100%;
              padding: 0;
              word-break: break-word;
            }
          }
        }
      }
    }
  }

  .rolling-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Helsinki Grotesk Medium", sans-serif;
    font-size: $size14;
    color: $color_rolling_info;
    padding-left: $size12;
    padding-top: 0;

    svg {
      height: $size18;
    }
    span {
      padding-left: 0.125rem;
    }
  }

}

.highligh-error{
  border: 4px solid $color-coat-of-arms;
  .input-header{
    animation: shake 1s ease 1;
  }
}

@keyframes shake {
	0%, 80% {transform: translateX(0);}
	30%, 70% {transform: translateX(-1.5px);}
	50% {transform: translateX(1.5px);}
}

.radio-input-container {
  display: flex;
  flex-direction: column;

  label,
  .ui.checkbox label {
    align-items: center;
    display: flex;
    font-size: $size16;
    height: 24px;
    margin-top: 14px;
    padding-left: 34px;

    &:before,
    &:after {
      top: 0;
    }

    &:before {
      border: 2px solid $border-gray;
    }
  }

  .ui.checkbox:not(.disabled) label:hover::before {
    border-color: $color-input-emphasis;
  }

  .ui.checkbox:first-of-type label {
    margin-top: 8px;
  }

  &.inverted {
    .radio {
      > label {
        color: white;

        &:focus {
          color: white;
        }
      }
    }
    .ui.checkbox input:focus ~ label {
      color: white;
    }
  }

  .ui.radio.checkbox input:checked ~ label:after {
    color: $color-bus-dark;
    background-color: $color-bus-dark;
    width: 24px;
    height: 24px;
  }
  .ui.radio.checkbox input:focus:checked ~ label:after {
    color: $color-bus-dark;
    background-color: $color-bus-dark;
    width: 24px;
    height: 24px;
  }
  .ui.checkbox input:checked ~ label:before {
    border-color: $color-bus-dark;
  }
  .ui.radio.checkbox label:before {
    width: 24px;
    height: 24px;
  }
  .ui.radio.checkbox {
    width: 200px;
  }

  .ui.toggle.checkbox label {
    padding-left: 60px !important;
    padding-top: 0;

    &::before {
      border: 0;
      height: 24px;
    }
    &::after {
      height: 24px;
      width: 24px;
    }
  }
}

.ui.search.selection.dropdown {
  border-radius: 2px;
  min-height: 56px;
  line-height: $size32;
  padding: 12px 32px 12px 8px;
  margin-top: 4px;

  &.multiple > .label {
    margin-top: 8px;
  }

  > .delete.icon,
  > .dropdown.icon,
  > .search.icon {
    line-height: $size56;
    padding: 0;
    right: 20px;
  }

  > input.search {
    position: absolute;
    height: 56px;
    line-height: $size56;
    padding: 0 32px 0 8px;
    margin: 0;
  }

  .placeholder {
    color: $gray;
  }
}

.ui.selection.active.dropdown .menu,
.ui.selection.active.dropdown:hover .menu {
  border: 2px solid $black1;
}

.ui.label {
  font-family: "Helsinki Grotesk Medium", sans-serif;
  background-color: transparent;
  color: $black1;
  font-size: $size16;
  letter-spacing: 0;
  line-height: $size24;
  margin: 0;
  padding: 0;
  transition: none;
}

.ui.form input[type=text]:hover {
  border-color: $color-black !important;
}

.highlighted {
  background-color: yellow;
}
.error .selection {
  border: 3px solid $color-error;
  
}
.error .selection div {
  border: 0;
  
}

.readonly{
  button{
    background-color: #e6e6e6;
  }
  ul{
    li{
      background-color: #e6e6e6;
    }
  }
}

.error .rich-text-editor-wrapper {
  border: 3px solid $color-error;

  .rich-text-editor .ql-container {
    border: 0;
  }

}
.error .file-input-container button {
  border: 3px solid $color-error;
  color: $color-error;
}

.error .link-container  div:first-of-type {
  border: 3px solid $color-error;
 
}
.error .ad-combobox {
  border: 3px solid $color-error;
}

.error .ad-combobox  div {
  border: 0;
  background-color: white;
}
.ui.form .field.error input[type=text] {
  background: white !important;
  color: $color-error !important;
  border: 3px solid $color-error !important;
  border-radius: 0;
}
.ui.form .field.error input[type=number] {
  background: white !important;
  color: $color-error !important;
  border: 3px solid $color-error !important;
  border-radius: 0;
}
.ui.form .field.error input[type=date] {
  background: white !important;
  color: $color-error !important;
  border: 3px solid $color-error !important;
  border-radius: 0;
}

.ui.form input:focus {
  border-color: unset !important;
  transform: translateZ(0) !important;
  transition: 85ms ease-out !important;
  transition-property: box-shadow,transform !important;
}

.ui.form .field.error input::placeholder { 
    color: $color-black-60 !important;
}

.image-preview {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  max-height: 400px;

  .react-pdf__Page__canvas {
    max-height: 400px !important;
    max-width: 300px !important;
  }
}

.file-input-container {
  display: flex;
  align-items: center;

  .download-button,
  .upload-button,
  .remove-button {

    &.remove {
      color: $red;
      border-color: $red;
    }

    &.remove:hover {
      color: $color-error;
      border-color: $color-error;
      background-color: $color-error-light;
    }
  }

  .file-action-buttons button {
    margin-left: $size12;
  }
}

.file-description {
  color: $black1;
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }
}

.fieldset-internal-error {
  color: $color-error-text !important;
  border: 3px solid $color-error-border !important;
}
.fieldset-info{
  font-family: "Helsinki Grotesk Regular", sans-serif;
  font-style: italic;
  font-size: $size14;
  color: $dropdown-text-color;
  border-bottom: 1px solid $border-gray1;
  padding-top: 16px;
  padding-bottom: 15px;
  margin-bottom: 17px;
  margin-left: 16px;
}
.fieldset-container {
  border: none;
  position: relative;
  animation: expand 0.5s ease-in-out;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 16px;
  padding-right: 16px;

  /* Style the buttons that are used to open and close the accordion panel */
  .accordion-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $color-white;
    font-family: "Helsinki Grotesk Medium", sans-serif;
    font-size: $size14;
    color: $black1;
    font-weight: 500;
    pointer-events: all;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border:none;
    outline: none;
    transition: 0.1s;
    padding-top: 11.2px;
    padding-bottom: 10.8px;
    padding-left: 0;
    border-bottom: 0.7px solid $color-black-60;
    .accordion-button-content{
      display: flex;
      justify-content: flex-start;
      flex-flow: column;
      align-items: flex-start;
      svg{
        pointer-events: none;
      }
      .accoardian-header-text{
        pointer-events: none;
        .italic{
          font-family: "Helsinki Grotesk Regular", sans-serif;
          font-style: italic;
          color:$max-markings-color;
        }
      }
    }
    svg{
      pointer-events: none;
      width: $size17;
      height: $size17;
    }
  }

  .accordion-button-open{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $color-fog-light;
    font-family: "Helsinki Grotesk Medium", sans-serif;
    font-size: $size14;
    color: $black1;
    font-weight: 500;
    pointer-events: all;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.1s;
    padding-top: 11.2px;
    padding-bottom: 10.8px;
    padding-left: 8px;
    .accordion-button-content{
      display: flex;
      justify-content: flex-start;
      flex-flow: column;
      align-items: flex-start;
      svg{
        pointer-events: none;
      }
      .accoardian-header-text{
        pointer-events: none;
        .italic{
          font-family: "Helsinki Grotesk Regular", sans-serif;
          font-style: italic;
          color: $max-markings-color;
        }
      }
    }
    svg{
      pointer-events: none;
      width: $size17;
      height: $size17;
    }
  }

  .accordion-button-disabled{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $color-white;
    font-family: "Helsinki Grotesk Medium", sans-serif;
    font-size: $size14;
    color: $color-black-40;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border:none;
    outline: none;
    transition: 0.1s;
    padding-top: 11.2px;
    padding-bottom: 10.8px;
    padding-left: 0;
    border-bottom: 0.7px solid $color-black-40;
    pointer-events: none;
    .accordion-button-content{
      display: flex;
      justify-content: flex-start;
      flex-flow: column;
      align-items: flex-start;
      svg{
        pointer-events: none;
      }
      .accoardian-header-text{
        pointer-events: none;
        .italic{
          font-family: "Helsinki Grotesk Regular", sans-serif;
          font-style: italic;
          color: $max-markings-color;
        }
      }
    }
    svg{
      pointer-events: none;
      width: $size17;
      height: $size17;
    }
  }

  .accordion-button:focus-within,.accordion-button-open:focus-within{
    box-shadow: 0 0 0 3px $color-coat-of-arms;
    position: relative;
  }

  .accordion-button > * {
    pointer-events: none !important;
  }

  /* Style the accordion panel. Note: hidden by default */
  .fieldset-accordian {
    padding: 0 18px;
    background-color: $color-white;
    display: none;
    overflow: hidden;
    .input-container {
      background-color: $color-fog-light;
      padding-bottom: 27.5px;
      .field{
        .text-input,.selection,.ad-combobox{
          max-width: 256px;
        }
      }
      .max-chars{
        font-size: $size13;
      }
    }
    div[role=button]{
      max-height: 66px;
      outline: none;
      svg{
        margin-right: 8px;
      }
    }
    .input-container:last-of-type{
      .max-chars{
        padding-bottom: 0;
      }
    }
    .input-title{
      font-size: $size13;
      padding-left: 0;
      pointer-events: none;
    }
  }

  .fieldset-accordian-open{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    background-color: $color-fog-light;
    display: block;
    overflow: hidden;
    border-bottom: 0.7px solid $color-black-60;
    .input-container {
      background-color: $color-fog-light;
      padding-bottom: 27.5px;
      .field{
        .text-input,.selection,.ad-combobox{
          max-width: 256px;
        }
      }
      .max-chars{
        font-size: $size13;
      }
    }
    div[role=button]{
      max-height: 66px;
      outline: none;
      svg{
        margin-right: 8px;
      }
    }
    .input-container:last-of-type{
      .max-chars{
        padding-bottom: 0;
      }
    }
    .input-title{
      font-size: $size13;
      padding-left: 0;
      pointer-events: none;
    }
    .close-accordion-button{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button{
        font-family: "Helsinki Grotesk Medium", sans-serif;
        font-size: $size12;
        color: $black1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: transparent;
        border: none;
        margin-right: -16px;
        width: fit-content;
        span{
          pointer-events: none;
          padding-right: 5px;
        }
      }
    }
  }

  .input-locked{
    font-family: "Helsinki Grotesk Medium", sans-serif;
    font-size: $size12;
    color: $color-info-dark;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 8px;
    padding-bottom: 2px;
  }
}

.fieldset-main-container{
  .fieldset-container:last-of-type{
    margin-bottom: 16px;
  }
}

.fieldset-button-remove {
 color: $color-error !important;
 border-color: $color-error !important;
 margin-top: 20px;
 margin-bottom: 3.4px;
}

.fieldset-button-remove:hover{
  color: $color-error-dark !important;
  border-color: $color-error-dark !important;
  background-color: $color-error-light !important;
}

.fieldset-button-remove-disabled{
  border-color: $color-black-40 !important;
  margin-top: 20px;
}

.fieldset-button-remove-disabled:hover{
  border-color: $color-black-40 !important;
}

.fieldset-accordian-close{
  font-family: "Helsinki Grotesk Medium", sans-serif;
  font-size: $size12;
  background-color: $color-fog-light;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  max-height: 25px;
  min-height: 25px;
}

.fieldset-accordian-close:hover{
  text-decoration: underline;
  background-color: #e8f3fc;
}

.input-header + .fieldset-container {
  margin-top: 16px;
}

.fieldset-header {
  .fieldset-header-number {
    position: absolute;
    margin-top: -31px;
    font-size: $size16;
    background: $light-gray3;
    padding: 4px 16px;
  }

  .fieldset-remove {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 0;
  }
}

.geometry-input-container {
  .geometry-input {
    height: 300px;
    z-index: 0;
  }

  .geometry-input-actions {
    margin-top: 10px;
  }
}

.link-container {
  .link-button {
    margin-left: $size20;
  }

  input {
    min-height: $size56;
    min-width: 300px;
  }

  svg {
    color: $color-white;
  }

  .link-status {
    margin-left: $size20;
    height: 49px;
    color: $color-success;
  }

  .error ~ svg {
    color: $color-error;
  }

  .error-text {
    margin-left: $size4;
  }
}

.linked-fields{
  font-family: 'Helsinki Grotesk Regular', sans-serif;
  font-size: $size14;
  line-height: $size24;
  color: $black1;
  padding-top: 20px;
  .linked-header{
    font-family: 'Helsinki Grotesk Bold', sans-serif;
    font-size: $size14;
    line-height: $size24;
    color: $black1;
    font-weight: 700;
  }
  .linked-fields-list{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 8px;
    margin: 0;
  }
}

.rdtPicker {
  color: black;
}

.textarea-wrapper {
  position: relative;
}
.checkbox-container {
  .checkbox {
    padding-top: 3px;
    padding-right: 5px;
    input{
      &:before {
        //checkmark
        z-index: 1;
      }
    }
    input:hover,.input:focus{
      &:before {
        //checkmark
        z-index: 1;
      }
    }
    label{
      &:before {
        //background
        z-index: 1;
      }
    }
  }
}
.deadline-info-text {
  margin-top: 10px;
  padding: 8px 8px 8px 16px;
  background-color: $yellow;
  width: 80%;
}
.deadline-estimated {
  color: $color-info !important;

  input {
    color: $color-info !important;
  }
}
.invisible{
  visibility: hidden;
}
.hidden {
  display: none;
}
.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
.radio-button {
  margin-top: 4px;
}
.error-text {
  color: $color-error-border;
  position: relative;
}
.add-error{
  padding-left: $size16;
}
.checkbox {
  display: flex;
  .checkbox-item {
    input{
      z-index: 2000;
      position: relative;
    }
    label:first-of-type{
      padding-left: 10px;
    }
    label{
      position: unset;
    }
  }
}
.checkbox-item {
  margin-top: 0 !important;
  margin-right: 10px;
}

.ad-combobox {
  text-align: left;
}

.disabled-fieldset{
  pointer-events: none;
  cursor: not-allowed;
  -moz-user-focus: none;
  -webkit-user-focus: none;
  -ms-user-focus: none;
  -moz-user-modify: read-only;
  -webkit-user-modify: read-only;
  -ms-user-modify: read-only;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .richtext-container,.text-input,.selection,.ad-combobox,.link-container,.file-input-container{
    opacity: .35;
  }
  input,div,span,p,button{
    pointer-events: none;
    cursor: not-allowed;
    -moz-user-focus: none;
    -webkit-user-focus: none;
    -ms-user-focus: none;
    -moz-user-modify: read-only;
    -webkit-user-modify: read-only;
    -ms-user-modify: read-only;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.custom-card{
  padding: $size16 $size20 $size8 $size16;
  margin: 0;
  gap: 0;
  padding-left: $size20;
  border:1px solid $border-gray3;
  background-color: $color-bus-light;

  .heading {
    font-family: 'Helsinki Grotesk Bold', sans-serif;
    font-weight: 700;
    font-size: $size16;
    padding-bottom: $size28;
  }

  .custom-card-item-container {
    display: flex;
    column-gap: $size64;
  }

  .custom-card-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: $size18;
    margin-bottom: $size20;

    .custom-card-info-container {
      display: flex;
      flex-direction: column;

      .custom-card-info {
        font-family: 'Helsinki Grotesk Medium', sans-serif;
        font-weight: 500;
        font-size: $size14;
        padding-bottom: $size8;
      }

      .custom-card-date {
        font-size: $size14;

        .date {
          display: inline-flex;
          font-family: 'Helsinki Grotesk Bold', sans-serif;
          font-weight: 700;
        }

        .divider {
          display: inline-flex;
          padding: 0 $size8;
        }

        .status {
          display: inline-flex;
          font-style: italic;
          font-size: $size14;
        }
      }
      .custom-card-floor-info {
        font-size: $size14;
      }
    }
  }

  button {
    font-family: 'Helsinki Grotesk Medium', sans-serif;
    font-size: $size16;
    line-height: $size24;
    color: $color-bus;
    margin-top: 0;
    margin-left: -$size4;

    div {
      margin-left:0 !important;
    }
  }

  button:hover {
    --background-color-hover: $color-bus-light;
    text-decoration: underline;
    color: $color-bus;
  }

  .rolling-text{
    font-family: 'Helsinki Grotesk Medium', sans-serif;
    font-size: $size14;
    margin-top: 0;
    margin-left: -$size4;
    padding-left: 0;
    span{
      padding-left: 0.5rem;
    }
  }
}
