@import '../../common/colors.scss';

.quicknav-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;


  .quicknav-navigation-section {
    .quicknav-header-container{
      border-bottom: 2px solid;
      padding-bottom: 15px;
      .quicknav-header{
        display: flex;
        justify-content: flex-start;
        button{
          padding: 0;
          div{
            margin: 0;
          }
          svg{
            color: $black1;
          }
          span{
            font-size: $size24;
            color: $black;
            padding-bottom: 0;
            padding-top: 0;
          }
        }
        button:hover{
          background-color: transparent;
        }
        .quicknav-allphases{
          span{
            padding-left: 0;
          }
        }
      }
      .quicknav-header-info{
        display: flex;
        font-size: $size14;
        font-style: italic;
        color: $color-black-60;
        padding-left: 34px;
        .project-status-container{
          align-items: center;
          display: flex;
          float: right;
          font-size: $size14;
          .project-status-color{
            border-radius: 100%;
            display: inline-flex;
            min-height: 10px;
            min-width: 10px;
            height: 10px;
          }
          .project-status-text{
            padding-right: 10px;
          }
        }
      }
      .main-info{
        padding-left: 0;
      }
    }
  }

  .quicknav-title {
    border-bottom: 2px solid $black1;
    margin: 0;
    padding: 0 0 4px;
    text-transform: uppercase;
  }

  .quicknav-content {
    border-bottom: 1px solid $gray;
    display: flex;
    flex-direction: column;
    max-height: 520px;
    overflow-y: auto;
    border-right: 1px solid $gray;
    padding-top: 10px;
    
    .phase-accordion > div{
      font-size: $size16;
      cursor: pointer;
      padding: 0;
     }
    .accordion-button {
      margin: 5px;
      color: black;
      width: 100%;
      &.active {
        font-weight: bold;
      }
    }
   
    .accordion-button > span {
      padding-left: 0;
      text-align: left;
      width: 100%;
      
    }
    .quicknav-item {
      cursor: pointer;
      display: block;
      width: 100%;
      font-size: $size16;
      margin-top: 0px;
      color: $color-black-70;
      text-align: left;
      padding-left: 20px;
      border-bottom: none;
      min-height: 50px;

      span{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        margin-left: 0;
        padding-right: 10px;
        padding-top: 0;
        padding-bottom: 0;
        .project-status-container{
          float: right;
          font-size: $size14;
          .project-status-color{
            border-radius: 100%;
            display: inline-flex;
            min-height: 10px;
            min-width: 10px;
            height: 10px;
          }
          .project-status-text{
            padding-left: 2px;
          }
        }
        div{
          .filter-tag{
            background-color: $gray;
            font-size: $size14;
            float: right;
            padding: 0;
            --tag-height: 10px;
            margin-left: 5px;
            span{
              padding: 2px;
              margin: 0;
            }
          }
        }
        .quicknav-item-title{
          padding-left: 0;
          margin-left: 0;
          padding-right: 0px;
          padding-top: 0px;
          padding-bottom: 0;
        }
      }
    }

    .quicknav-item::after{
      content: '';
      position: absolute;
      width: calc(100% - 40px);
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      background: #b2b2b2;
      border: none;
      font-size: 1rem;
      margin-top: 0px;
      color: #b2b2b2;
      text-align: left;
      padding-left: 0px;
    }

    .active::after{
      display: none;
    }

    .phase1,.phase7,.phase19,.phase25{
      &:hover{
        border-left: 4px solid;
        border-left-color: $color_phase_start;
        text-decoration: underline;
        background-color: transparent;
      }
      &.active{
        font-weight: bold;
        border-left: 4px solid;
        border-left-color: $color_phase_start;
        background-color: $light-gray3;
      }
    }

    .phase26{
      &:hover{
        border-left: 4px solid;
        border-left-color: $color_phase_principles;
        text-decoration: underline;
        background-color: transparent;
      }
      &.active{
        font-weight: bold;
        border-left: 4px solid;
        border-left-color: $color_phase_principles;
        background-color: $light-gray3;
      }
    }

    .phase2,.phase8,.phase20,.phase27{
      &:hover{
        border-left: 4px solid;
        border-left-color: $color_phase_oas;
        text-decoration: underline;
        background-color: transparent;
      }
      &.active{
        font-weight: bold;
        border-left: 4px solid;
        border-left-color: $color_phase_oas;
        background-color: $light-gray3;
      }
    }

    .phase28{
      &:hover{
        border-left: 4px solid;
        border-left-color: $color_phase_draft;
        text-decoration: underline;
        background-color: transparent;
      }
      &.active{
        font-weight: bold;
        border-left: 4px solid;
        border-left-color: $color_phase_draft;
        background-color: $light-gray3;
      }
    }

    .phase3,.phase9,.phase21,.phase29{
      &:hover{
        border-left: 4px solid;
        border-left-color: $color_phase_suggestion;
        text-decoration: underline;
        background-color: transparent;
      }
      &.active{
        font-weight: bold;
        border-left: 4px solid;
        border-left-color: $color_phase_suggestion;
        background-color: $light-gray3;
      }
    }

    .phase4,.phase10,.phase22,.phase30{
      &:hover{
        border-left: 4px solid;
        border-left-color: $color_phase_check_suggestion;
        text-decoration: underline;
        background-color: transparent;
      }
      &.active{
        font-weight: bold;
        border-left: 4px solid;
        border-left-color: $color_phase_check_suggestion;
        background-color: $light-gray3;
      }
    }

    .phase5,.phase11,.phase23,.phase31{
      &:hover{
        border-left: 4px solid;
        border-left-color: $color_phase_approval;
        text-decoration: underline;
        background-color: transparent;
      }
      &.active{
        font-weight: bold;
        border-left: 4px solid;
        border-left-color: $color_phase_approval;
        background-color: $light-gray3;
      }
    }

    .phase6,.phase12,.phase24,.phase32{
      &:hover{
        border-left: 4px solid;
        border-left-color: $color_phase_inception;
        text-decoration: underline;
        background-color: transparent;
      }
      &.active{
        font-weight: bold;
        border-left: 4px solid;
        border-left-color: $color_phase_inception;
        background-color: $light-gray3;
      }
    }

    .yellow{
      background-color: $tagyellow !important;
    }

    button:last-of-type::after{
      display: none;
    }
  }


  .quicknav-buttons {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    button {
      margin-top: 10px;
      font-weight: bolder;
    }
  }
  .check-pressed {
    outline: 1px solid $color-bus-dark !important; 
  }

.secondary .ui.active.inline.loader:before {
  border-color: $color-bus-dark;
}

  @media screen and (max-width: 545px) {
    border: 1px solid gainsboro;
  }
  .project-onhold {
    margin-top: 10px;
  }

  .quicknav-onhold {
    padding-top: 10px;
  }
}
