@use '../common/colors.scss';
@use '../common/Fonts.scss';

.project-list-page {
  margin: 0 auto;
  max-width: 1200px;
  width: calc(100% - 32px);
  margin-bottom: 20px;

  .header-buttons {
    text-align: right;
    margin: 10px 0 10px 0;
    height: 44px;
    button {
      font-family: 'Helsinki Grotesk Medium', sans-serif;
      font-size: colors.$size16;
      margin-left: 10px;

      svg {
        padding-right: 2px;
      }
    }
  }
  .nav-header-container {
    .nav-header-actions {
      margin-top: 0;
      .action-item {
        margin-right: 14px;

        svg {
          position: relative;
          width: 24px;
          height: 22px;
        }

        @media screen and (max-width: 800px) {
          display: none;
        }
      }
      a.action-item {
        color: colors.$color-white !important;
        border: 2px solid colors.$color-primary !important;
        background: colors.$color-primary !important;
        margin-right: 0;
      }
      @media screen and (max-width: 800px) {
        justify-content: end;
      }
    }
    @media screen and (max-width: 800px) {
      min-height: 0;
    }
  }

  .project-list-container {
    font-family: "Helsinki Grotesk Regular", sans-serif;
    position: relative;
    z-index: 0;
    margin-bottom: 32px;

    ul{
      --tablist-border-color:transparent;
    }

    li[role=tab] {
      span{
        font-size: colors.$size16;
      }
    }

    .project-list{
      display: block;
      background-color: colors.$color-white;
      padding: 0px 0px;
      border-top: none;

      .project-status-container{
        display: flex;
        align-items: center;
        .project-status-color{
          border-radius: 100%;
          display: inline-flex;
          min-height: 12px;
          min-width: 12px;
          height: 12px;
        }
        .project-status-text{
          padding-left: 8px;
        }
      }

      table{
        thead{
          width: 100%;
          span{
            font-size: colors.$size16;
          }
          button[data-testid='hds-table-sorting-header-Muokattu']{
       
          }
        }
        tbody{
          width: 100%;
          tr:nth-child(even) {
            display: none;
            td{
              display: none;
            }
            td:nth-child(1){
              display: block;
              width: 100%;
              position: absolute;
              border-bottom: 1px solid black;
            }
          }

          tr{
            td{
              font-size: colors.$size16;
              a{
                color: colors.$color-bus;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .showGraph{
      table{
        thead{
          th:nth-child(9){
            display: none;
          }
        }
        tbody{
          tr:nth-child(even) {
            display: block;
            height: 200px;
            margin-bottom: 30px;
            td{
              display: none;
            }
            td:nth-child(9){
              display: block;
              width: 100%;
              position: absolute;
            }
          }

          tr{
            td{
              border-bottom: none;
            }
          }
        }
      }
    }

    .project-list-mobile {
      display: none;
    }

    @media screen and (max-width: 1049px) {
      .project-list{
        display: none;
      }

      .project-list-mobile {
        display: block;
        background-color: colors.$color-white;
        padding: 0px 0px;
        border-top: none;
  
        .project-status-container{
          display: flex;
          align-items: center;
          .project-status-color{
            border-radius: 100%;
            display: inline-flex;
            min-height: 12px;
            min-width: 12px;
            height: 12px;
          }
        }
  
        .project-list-header,
        .project-list-item {
          font-family: "Helsinki Grotesk Regular", sans-serif;
          text-align: center;
          display: flex;
          justify-content: stretch;
          width: 100%;
          margin: 0;
          border: none !important;
          border-bottom: 1px solid colors.$color-black !important;
  
          > * {
            overflow: hidden;
          }
        }
        .project-list-header{
          gap: 10px;
        }
        .project-list-item{
          flex-flow: column;
        }
        .list-amount {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0;
        }
  
        .list-actions-container {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          padding-top: 40px;
  
          .button {
            width: 300px;
            height: 56px;
          }
        }
        .project-list-item-container {
          color: colors.$color-black;
          background-color: transparent;
          
          .project-list-item-graph {
            .chart {
              height: 132px;
            }
            margin-bottom: 30px;
          }
          .project-card-mb {
            display: none;
            font-size: colors.$size16;
            color: colors.$color-primary;
            text-align: center;
            justify-content: center;
            border: 2px solid colors.$color-primary;
            margin-top: 18px;
            margin-bottom: 32px;
            padding-top: 18px;
            padding-bottom: 18px;
  
            @media screen and (max-width: 599px) {
              display: flex;
            }
          }
        }
        .project-list-item {
          height: 64px;
          border: 2px solid colors.$color-black-10;
          font-size: colors.$size16;
          position: relative;
          flex-grow: 1;
  
          &:hover,
          &:focus,
          &:active {
            border-color: colors.$color-primary;
          }
  
          .project-status {
            display: inline-block;
            min-width: 12px;
            min-height: 12px;
            border-radius: 100%;
            margin-right: 5px;
          }
  
          .project-name {
            color: colors.$color-bus;
            text-decoration: underline;
            &:hover {
              text-decoration: underline;
            }
          }
          @media screen and (max-width: 1049px) {
            height: 200px;
          }
          @media screen and (max-width: 599px) {
            padding-bottom: 20px;
            text-align: left;
          }
          span {
            flex:1;
          }
        }
  
        .project-list-sort-text {
          display: none;
  
          @media screen and (max-width: 599px) {
            display: block;
            font-size: colors.$size16;
            color: colors.$color-black;
          }
        }
  
        .project-list-header {
          font-family: "Helsinki Grotesk Medium", sans-serif;
          background-color: colors.$color-bus;
          align-items: center;
          min-height: 56px;
          position: relative;
  
          .project-timeline-toggle {
            cursor: pointer;
            width: 68px;
            color: colors.$color-bus-light;

            .ui.toggle.checkbox input:checked ~ label:after {
              left: 1.977rem;
            }
            .ui.toggle.checkbox input:checked ~ label:before {
              background-color: colors.$color-black !important;
            }

            .toggle {
              padding-left: 6px;
              position: absolute;
              label:before {
                width: 47px;
                height: 20px;
              }
              label:after {
                width: 20px;
                height: 20px;
              }

              @media screen and (max-width: 1200px) {
                padding-left: 0;
              }
            }
            @media screen and (max-width: 601px) {
              display: none;
            }
          }
  
          .header-item {
            text-align: left;
            font-size: colors.$size16;
            user-select: none;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-decoration-thickness: 2px;
            text-decoration-color: colors.$color-black-30;
            color: colors.$color-bus-light;
            overflow: hidden;
            flex-grow: 1;
            margin: 0;
            padding: 0;
            justify-content: flex-start;
  
            .angle-icon {
              position: absolute;
              margin-left: 6px;
              font-size: colors.$size12;
              color: colors.$color-black-30;
  
              @media screen and (max-width: 1049px) {
                position: initial;
              }
            }
  
            .angle-up-icon {
              top: 16px;
  
              &.dir-up {
                color: colors.$color-black;
              }
            }
  
            .angle-down-icon {
              bottom: 18px;
  
              &.dir-down {
                color: colors.$color-black;
              }
            }
  
            span{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              svg{
                width: 24px;
                height: 24px;
                margin-left: 12px;
              }
            }
          }
          .header-item:hover {
            text-decoration: underline;
            background-color:transparent;
          }
          @media screen and (max-width: 1049px) {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background: none;
            color: colors.$color-primary;
  
            .header-item {
              flex-grow: 1;
              margin-bottom: 8px;
              font-size: colors.$size14;
              padding: 4px 14px;
              border: 2px solid colors.$color-primary;
              color: colors.$color-bus;
  
              .angle-icon {
                display: none;
              }
            }
  
            .timeline-header-item {
              border: none;
              color: colors.$color-black;
              flex-grow: 1;
              margin-right: 12px;
              margin-bottom: 8px;
              font-size: colors.$size14;
              padding: 0;
              text-align: left;
            }
  
            @media screen and (max-width: 365px) {
              margin-right: 0;
            }
          }
        }
  
        .project-list-button {
          overflow: hidden;
          height: 60px;
        }
  
        .project-list-item-name,
        .project-list-item-phase {
          white-space: nowrap;
         
        }
        .field-ellipsis {
          white-space: pre-wrap;
        }
        .center {
          margin: auto;
        }
  
        .project-list-sublist {
          padding-top: 68px;
          padding-bottom: 10px;
          .project-sublist-title {
            cursor: pointer;
            font-size: colors.$size16;
            padding-bottom: 20px;
          }
        }
  
        .project-list-mb-actions {
          position: relative;
          display: flex;
          margin-bottom: 4px;
          min-height: 32px;
          align-items: center;
  
          .project-timeline-toggle-mb {
            display: flex;
            position: absolute;
            margin-left: 2px;
  
            .ui.toggle.checkbox input:checked ~ label:before {
              background-color: colors.$color-black !important;
            }
  
            .toggle {
              z-index: 0;
              margin-right: 8px;
  
              label {
                font-size: colors.$size16;
              }
            }
          }
          @media screen and (min-width: 600px) {
            display: none;
          }
        }
      }
    } 
    
    .empty-list-info {
      font-family: "Helsinki Grotesk Regular", sans-serif;
      display: flex;
      justify-content: center;
      margin-top: 100px;
      font-size: colors.$size24;
    }
  }

  .filters-list{
    margin-bottom: 64px;
    label{
      font-family: "Helsinki Grotesk Medium", sans-serif;
      font-size: colors.$size16;
    }
    .ad-combobox{
      ul{
        overflow-x: hidden;
        overflow-y: scroll;
      }
    }
  }

  .projects-filters{
    .column{
      max-width: 328px;
    }
    .column label + div {
      margin-top: 4px;
    }
    .ui.grid > .column:not(.row) {
      padding: colors.$size12;
    }
    .ui.grid {
      margin: -(colors.$size12);
    }
  }

  .project-list-pagination{
    font-size: colors.$size16;
    font-family: "Helsinki Grotesk Regular", sans-serif;
    [aria-current]:not([aria-current="false"]) {
      min-width: 40px;
    }
    a:focus {
      min-width: 40px;
    }
    nav{
      font-size: colors.$size16;
      font-family: "Helsinki Grotesk Medium", sans-serif;
    }
    nav > ul > li > a {
      font-family: "Helsinki Grotesk Bold", sans-serif;
    }
  }
  .ui.tabular.menu {
    font-family: "Helsinki Grotesk Medium", sans-serif;
    border: none;
    height: 50px;
    margin-bottom: 30px;
    font-size: colors.$size16;
    .item {
      border-radius: 0;
      border-bottom: 2px solid colors.$border-gray;
      margin-right: 2px;
    }
    .active {
      border: none;
      color: colors.$color-primary !important;
      border-bottom: 2px solid colors.$color-primary !important;
      margin-bottom: 0 !important;
      font-weight: normal !important;
    }
    @media screen and (max-width: 1049px) {
      margin-top: -46px;
    }
    @media screen and (max-width: 599px) {
      font-size: colors.$size16;
    }
  }
  .project-list-result{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: colors.$size16;
    .project-list-result-number{
      font-family: "Helsinki Grotesk Medium", sans-serif;
      display: flex;
      align-items: center;
    }
    .timeline-header-item{
      display: flex;
      align-items: center;
      font-size: colors.$size16;
      font-family: "Helsinki Grotesk Medium", sans-serif;
      label{
        font-size: colors.$size16;
        margin-right: 24px;
      }
      .toggle-text{
        padding-right: 20px;
      }
      .toggle{
        label:before{
          border: 2px solid colors.$color-black;
          background: transparent;
          height: 2rem;
          top: -3.5px;
        }
        input:checked~label:before{
          background: transparent !important;
        }
        label:after{
          content: '\00d7' !important;
          color: colors.$white;
          background:colors.$color-black;
          font-size: colors.$size20;
          left: 0.3rem;
          padding: 0;
          line-height: 0.75;
        }
        input:checked~label:after{
          left: 1.7rem;
          padding-left: 1px;
        }
      }
    }
  }
}
