@use '../common/colors';
.documents-page-container {
  padding-bottom: 20px;
  .document-group {
    .title {
      padding-left: 5px;
    }

    .label {
      font-family: "Helsinki Grotesk Medium", sans-serif;
    }

    .ui.grid {
      margin: 0 0 colors.$size16 0;
    }

    .ui.grid:last-of-type {
      margin-bottom: colors.$size20;
    }

    .document-row {
      .document-title {
        margin: 0;
        line-height: colors.$size24;
        display: block;
        font-size: colors.$size16;
      }

      .document-last-loaded {
        font-size: colors.$size14;
        line-height: colors.$size24;
      }

      .document-header{
        font-family: "Helsinki Grotesk Medium", sans-serif;
        font-size: colors.$size20;
        letter-spacing: 0.2px;
        margin-bottom: colors.$size16;
      }

      button:last-of-type{
        margin-left: 15px;
      }

      background-color: colors.$light-gray3;
    }
  }

  .document-accordion {
    margin: auto;
    margin-top: 10px;
    .document-group-requirements{
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: colors.$size28;
    }
  }

  .phase-end-tag {
    font-size: colors.$size16;
  }
  .image-template-icon {
    color: colors.$color-bus-dark
  }

  .required-error-text {
    color: colors.$color-error;

    p {
      font-family: "Helsinki Grotesk Medium", sans-serif;
      font-weight: 500;
    }

    svg {
      vertical-align: bottom;
      margin-right: colors.$size8;
    }
  }

  .document-status {
    font-family: "Helsinki Grotesk Medium", sans-serif;
    font-weight: 500;
  }

  .document-status-info {
    font-family: "Helsinki Grotesk Medium Italic", sans-serif;
    font-weight: 500;
    font-size: colors.$size14;
    margin-left: colors.$size32;
    margin-top: colors.$size4;
    line-height: colors.$size18;

    > span {
      letter-spacing: 0.2px;
    }
  }

  .document-row .column {
    padding: colors.$size24 colors.$size32 !important;
    &.right {
      display: flex !important;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
