@import '../common/colors';
.documents-page-container {
  padding-bottom: 20px;
  .document-group {
    .title {
      padding-left: 5px;
    }

    .label {
      font-family: "Helsinki Grotesk Medium", sans-serif;
    }

    .ui.grid {
      margin: 0 0 $size16 0;
    }

    .ui.grid:last-of-type {
      margin-bottom: $size20;
    }

    .document-row {
      .document-title {
        margin: 0;
        line-height: $size24;
        display: block;
        font-size: $size16;
      }

      .document-last-loaded {
        font-size: $size14;
        margin-top: $size16;
      }

      .document-header{
        font-family: "Helsinki Grotesk Medium", sans-serif;
        font-size: $size20;
        letter-spacing: 0.2px;
        margin-bottom: $size16;
      }

      button:last-of-type{
        margin-left: 15px;
      }

      background-color: $light-gray3;
    }
  }

  .document-accordion {
    margin: auto;
    margin-top: 10px;
    .document-group-requirements{
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: $size28;
    }
  }

  .phase-end-tag {
    font-size: $size16;
  }
  .image-template-icon {
    color: $color-bus-dark
  }

  .required-error-text {
    color: $color-error;

    p {
      font-family: "Helsinki Grotesk Medium", sans-serif;
      font-weight: 500;
    }

    svg {
      vertical-align: bottom;
      margin-right: $size8;
    }
  }

  .document-status {
    font-family: "Helsinki Grotesk Medium", sans-serif;
    font-weight: 500;
  }

  .document-status-info {
    font-family: "Helsinki Grotesk Medium Italic", sans-serif;
    font-weight: 500;
    font-size: $size14;
    margin-left: $size32;
    margin-top: $size4;
    line-height: $size18;

    > span {
      letter-spacing: 0.2px;
    }
  }

  .document-row .column {
    padding: $size24 $size32 !important;
  }
}
