@import '../common/colors.scss';

.richtext-container{
  .quill .ql-container.ql-snow {
    border: 0 !important;
  }

  .ql-toolbar.ql-snow {
    border-width: 0 0 1px 0;
  }

  .rich-text-editor-wrapper {
    .rich-text-editor.toolbar-visible .ql-container .ql-editor {
      padding-bottom: $size40;
    }

    .rich-text-editor {
      background-color: white;
      border: 2px solid $color-black-50;

      &:hover {
        border: 2px solid $color-black-90;
      }

      .ql-toolbar {
        display: none;
        position: relative;
        background-color: $white;
        z-index: 1;

        .quill-toolbar-comment-button {
          .comment-icon {
            width: 16px;
            height: 16px;

            path {
              fill: $color-black-90 !important;
            }
          }
          &:focus {
            outline: none;
          }
          &:hover .comment-icon {
            path {
              // same as others in quill. Keep this way or change all in quill
              fill: #06c !important;
            }
          }
        }
      }
      .ql-editor.ql-blank::before {
        color: $gray;
        font-style: normal;
        font-size: $size16;
      }

      .ql-container {
        .ql-editor {
          font-size: $size16;
          padding: 16px;
          min-height: 56px;
          p{
            outline: none;
          }
        }
      }

      &.toolbar-visible {
        border: 2px solid $color-black-90 !important;
        border-color: unset !important;
        box-shadow: 0 0 0 3px $color-coat-of-arms !important;
        transform: translateZ(0) !important;
        transition: 85ms ease-out !important;
        transition-property: box-shadow,transform !important;
        .ql-toolbar {
          display: block;
        }

        .ql-container {
          border-top: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      &.toolbar-visible-error{
        border: 2px solid $color-error !important;
        border-color: $color-error !important;
        box-shadow: unset!important;
        transform: translateZ(0) !important;
        transition: 85ms ease-out !important;
        transition-property: box-shadow,transform !important;
        .ql-toolbar {
          display: block;
        }

        .ql-container {
          border-top: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      &.large .quill .ql-editor {
        min-height: 128px;
      }

      .add-comment-button,
      .show-comments-button {
        width: auto;

        &:focus {
          outline: none;
        }
      }
    }

    .comment-list {
      padding: 16px;
      background: $light-gray3;
      border-radius: 0 0 2px 2px;

      .comment-container:first-child {
        margin-top: 0;
      }
    }
  }
  .rich-text-disabled {
    pointer-events: none;
    opacity: .35;
  }
  .quill-counter {
    font-family: "Helsinki Grotesk Bold", sans-serif;
    font-size: $size14;
    color: $color-black-90;
    position: relative;
    top: -30px;
    right: 14px;
    text-align: right;
    padding-right: 4px;
    letter-spacing: 0.4px;
    width: 70px;
    float: right;
  }
  .max-chars{
    font-family: "Helsinki Grotesk Regular", sans-serif;
    font-size: $size16;
    color: $max-markings-color;
    line-height: $size24;
    margin-top: 8px;
  }
  .max-chars-error{
    display: flex;
    font-family: "Helsinki Grotesk Regular", sans-serif;
    font-size: $size16;
    color: $color-error;
    line-height: $size24;
  }
  .quill-warning {
    color: $color-error;
  }
}
