@use "../../globals" as *;
* {
  box-sizing: border-box;
}

body {
  font-family: 'Helsinki Grotesk Regular', sans-serif;
  overflow-anchor: none;

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $size4;
    background: $color-black-50;
  }

  ::-webkit-scrollbar-track {
    background-color: $border-gray1;
    border-radius: $size4;
  }
}

h1 {
  font-family: 'Helsinki Grotesk Bold', sans-serif !important;
  font-size: $size40 !important;
  line-height: $size44 !important;
  margin: 0 !important;
  font-weight: 700 !important;
}

h2 {
  font-family: "Helsinki Grotesk Bold", sans-serif !important;
  font-size: $size24 !important;
  font-weight: 700 !important;
  line-height: $size24 !important;
}

h3 {
  font-family: "Helsinki Grotesk Bold", sans-serif !important;
  font-size: $size18 !important;
  font-weight: 700 !important;
}

h4 {
  font-family: "Helsinki Grotesk Bold", sans-serif !important;
  font-size: $size14 !important;
  line-height: $size16 !important;
  font-weight: 700 !important;
  margin: 44px 0 8px;
}

.ui.button {
  font-family: "Helsinki Grotesk Medium", sans-serif;
  border-radius: 0;
  font-size: $size16;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0;
  line-height: $size16;
  margin: 0;
  padding: 0 $size16;
  text-align: center;
  transition: opacity 0.2s ease, border 0.2s ease, background-color 0.2s ease,
    color 0.2s ease, box-shadow 0.2s ease, background 0.2s ease,
    -webkit-box-shadow 0.2s ease;

  &.large {
    align-items: center;
    display: flex;
    height: 56px;
  }

  &.secondary {
    background: none;
    border: 2px solid $color-primary;
    color: $color-primary;

    &:hover,
    &:focus,
    &:active {
      background-color: white;
      border-color: $color-button-emphasis;
      padding-bottom: $size5;
      color: $color-button-emphasis;
    }
  }

  &.primary {
    color: white;
    background-color: $color-primary;

    &:hover,
    &:focus,
    &:active {
      color: white;
      background-color: $color-button-emphasis;
    }
  }
}

// Semantic.css override.
.ui.segment {
  box-shadow: none;
  border: none;
  margin: 0;
}
.ui.form .field {
  margin: 0 $size4 $size32 0;
}
.ui.dimmer {
  z-index: $z-index-bg-dimmer;
}
.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url] {
  font-family: inherit;
  border-radius: 0;
  border-width: 2px;
  border-color: $color-black-50;
}
.ui.form input:not([type]):focus,
.ui.form input[type=date]:focus,
.ui.form input[type=datetime-local]:focus,
.ui.form input[type=email]:focus,
.ui.form input[type=file]:focus,
.ui.form input[type=number]:focus,
.ui.form input[type=password]:focus,
.ui.form input[type=search]:focus,
.ui.form input[type=tel]:focus,
.ui.form input[type=text]:focus,
.ui.form input[type=time]:focus,
.ui.form input[type=url]:focus {
  border-radius: 0;
  transition: 85ms ease-out !important;
}
.ui.form input:not([type]):hover,
.ui.form input[type=date]:hover,
.ui.form input[type=datetime-local]:hover,
.ui.form input[type=email]:hover,
.ui.form input[type=file]:hover,
.ui.form input[type=number]:hover,
.ui.form input[type=password]:hover,
.ui.form input[type=search]:hover,
.ui.form input[type=tel]:hover,
.ui.form input[type=text]:hover,
.ui.form input[type=time]:hover,
.ui.form input[type=url]:hover {
  border-color: $color-black-90;
}
input[class^="Combobox-module"] {
  border: 0 !important;
}
//

// HDS fixes.
div[class^="Combobox-module_wrapper"] {
  transition: 85ms ease-out !important;
}
input[class^="TextInput-module_input"]:focus {
  box-shadow: 0 0 0 3px #0072c6 !important;
  transition: 85ms ease-out !important;
}
//

ul {
  &::-webkit-scrollbar-track {
    margin: $size4 0 $size4 0;
  }
}

.project-card-container .ui.segment,
.overview .ui.segment {
  background-color: $color-black-5;
  border: 0;
  border-radius: 0;
  padding: $size16 $size24 $size24 $size24;
  margin-top: 0;
}

.input-container {
  position: relative;
  .input-header-icons{
    justify-content: center;
    align-items: flex-end;
    div{
      padding-left: $size2;
    }
    .popup-container{
      font-family: 'Helsinki Grotesk Regular', sans-serif;
      display: inline-flex;
      align-items: center;
      font-weight: 400;
      font-style: normal;
      font-size: $size14;
      line-height: $size24;
      letter-spacing: 0;
      color: $black1;
      padding-bottom: $size5;
      padding-right: $size2;
      /* Target the icon inside HDS tooltip button */
      [class^="Tooltip-module_button"] svg {
        display: none; /* hide the default question-mark icon */
      }

      /* Add your clock icon as background */
      [class^="Tooltip-module_button"]::before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-color: currentColor;
        mask: url("../../assets/icons/clock.svg") no-repeat center / contain;
        -webkit-mask: url("../../assets/icons/clock.svg") no-repeat center / contain;
        padding-right: $size2;
      }
      svg {
        width: 1rem;
        height: 1rem;
      }
      .spinner-container{
        width: 0.833rem;
        height: 0.833rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: $size5;
        .loading-spinner{
          width: 100%;
          height: 100%;
        }
      }
      .input-history{
        color: #1A1A1A;
      }
    }
    .time-container{
      font-family: 'Helsinki Grotesk Regular', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: $size14;
      line-height: $size24;
      letter-spacing: 0;
      color: $black1;
      padding-right: $size5;
    }
    [class^="Tooltip-module_button"],
    [class*=" Tooltip-module_button"] {
      display: flex;
    }
  }
}

.project-input-container .ui.segment .field {
  border-left: 6px solid transparent;
  margin-left: -22px;
}

.project-input-container .ui.segment {
  .field.yellow {
    border-left: 6px solid $tagyellow;
    margin-top: 63px;

    .highlight-flag {
      position: absolute;
      top: -29px;
      left: -6px;
      padding: 3px 8px 3px 10px;
      border-radius: 2px 2px 2px 0;
      font-size: $size14;
      background-color: $tagyellow;
    }
  }

  .field.yellow-fieldset{
    border-left: 6px solid #ffc61f;
    margin-left: -6px !important;
    margin-top: 20px;
    .highlight-flag {
      position: absolute;
      top: -29px;
      left: -6px;
      padding: 3px 8px 3px 10px;
      border-radius: 2px 2px 2px 0;
      font-size: $size14;
      background-color: $tagyellow;
    }
  }

  span.yellow {
    background-color: $tagyellow;
  }
}

footer{
  margin-top: 96px;
  position: sticky;
  top: 100vh;
  .footer-util{
    justify-content: end;
  }
}

.ui.segment.footer-container {
  background: $light-gray2;
  font-family: 'Helsinki Grotesk Regular', sans-serif;

  .footer-image {
    width: 152px;
    height: 70px;
    filter: invert(1);
  }
  .footer-logo-column {
    text-align: left;
  }
  .footer-link-group {
    h4 {
      font-family: 'Helsinki Grotesk Bold', sans-serif;
      font-size: $size20;
      color: #000000;
      text-align: left;
    }
    a {
      font-family: 'Helsinki Grotesk Regular', sans-serif;
      font-size: $size16;
      color: #000000 !important;
      text-align: left;
      line-height: $size26;
    }
  }
  .footer-copyright {
    font-family: 'Helsinki Grotesk Regular', sans-serif;
    font-size: $size14;
    color: #666666;
    text-align: left;
    line-height: $size18;
    a {
      font-family: 'Helsinki Grotesk Regular', sans-serif;
      font-size: $size14;
      color: $color-black;
      letter-spacing: 0;
      text-decoration: underline $color-black;
      line-height: $size24;
    }
  }
  .footer-feedback {
    a {
      font-family: 'Helsinki Grotesk Regular', sans-serif;
      font-size: $size14;
      color: $color-black;
      letter-spacing: 0;
      text-decoration: underline $color-black;
      line-height: $size24;
      text-align: right;
    }
  }
}

.prompt {
  display: none;
}

/* using # root to eliminate the need of using !important*/
#root ~ .ui {
  .modals {
    margin-top: 0;
  }

  .modal {
    &.small,
    &.tiny {
      left: 50%;
      top: $size24;
      transform: translateX(-50%);
      max-width: calc(100vw - 48px);
      height: 80vh;
      width: 740px;
      margin-top: 0;
      scrollbar-gutter: stable;

      > .header {
        border-bottom: 0;
        font-size: $size24;
        line-height: $size24;
        margin: 16px 0;
        padding: 0;
      }

      @media screen and (min-width: 600px) {
        top: 32px;
      }
    }
    &.tiny {
      height: 350px;
    }
    .close.icon {
      position: relative;
      float: right;
      margin-right: 0;
      margin-top: $size16;
      color: $color-black;
    }
    .content {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      width: auto;
    }
    .actions {
      background-color: transparent;
      border-top: 0;
      margin: 16px 0 8px;
      padding: 0;

      .button:not(:first-child) {
        margin-left: $size16;
      }
    }
  }

  .warning-box {
    background-color: $color-warning;
    border-radius: 2px;
    border: 1px solid $color-warning2;
    color: $color-black;
    font-size: $size16;
    margin-top: $size16;
    padding: 16px 32px;
  }

  @media screen and (min-width: 600px) {
    .modal {
      &.small {
        top: 96px;

        > .header {
          margin: 76px 96px 32px;
        }
      }

      .close.icon {
        margin-right: 45px;
        margin-top: 45px;
      }

      .content {
        margin-left: 96px;
        margin-right: 96px;
      }

      .actions {
        margin: 66px 56px 80px;

        .button:not(:first-child) {
          margin-left: $size20;
        }
      }

      &.tiny {
        top: 160px;

        > .header {
          margin: 64px 96px 32px;
        }

        .actions {
          margin: 32px 48px 48px;
        }
      }
    }
  }
}
.popup-logger {
  .show-value {
    padding-bottom: $size20;
  }
  .field-value {
    border: 1px solid $color-black-20;
    padding: 2px;
  }
  width: 500px;
}

.header {
  margin-bottom: 0;
  --header-background-color: transparent;
  border-bottom: 1px solid $light-gray;
  font-size: $size16;
  font-family: "Helsinki Grotesk Regular", sans-serif;
  a{
    font-size: $size16;
  }
  [aria-label='Kaavapino']{
    color: $color-black;
  }
  #hds-mobile-menu{
    z-index: 4;
  }
  .header-nav-item:hover{
    color: $color-black;
  }
  .header-nav-item.active:after{
    background-color:$color-bus;
    --item-active-color:$color-bus;
    bottom: 0;
    content: "";
    height: var(--spacing-3-xs);
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
  .header-nav-item:hover:after{
    background-color:$color-black;
    --item-active-color:$color-bus;
    bottom: 0;
    content: "";
    height: var(--spacing-3-xs);
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}

header{
  position: fixed !important;
  top:0;
  z-index: 4;
  background-color: white !important;
}

.edit-page-header{
  header{
    --header-height: 56px;
    border-bottom: 2px solid $color-suomenlinna;
    z-index: $z-index-sticky;
    div:nth-child(3){
      div:nth-child(1){
        div:first-of-type{
          max-width: 1200px;
          padding-right: 0;
          padding-left: 0; 
        }
      }
    }
  }
  nav{
    max-width: 1200px;
    justify-content: space-between;
    margin-left: 0 !important;
  }
  div:not(.spinner-container,.spinner-container *){
    cursor: default;
    background-color: $color-bus-light;
    color: $black;
    font-size: $size16;
    border: none !important;
    .edit-page-title{
      display: flex;
      flex-flow: column;
      align-items: center;
      margin-left: 0 !important;
      p{
        font-family: "Helsinki Grotesk Medium", sans-serif;
        color: $black1;
        font-size: $size16;
        line-height: $size24;
        letter-spacing: 0.5px;
      }
      span{
        font-family: "Helsinki Grotesk Regular", sans-serif;
        font-size: $size12;
        color: $black1;
        letter-spacing: 0.375px;
      }
    }
    .edit-page-save{
      font-family: "Helsinki Grotesk Medium", sans-serif;
      padding-right: 0;
      .spinner-container{
        font-size: $size16;
        display: flex;
        justify-content: flex-start;
        visibility: hidden;
        padding-right: 15px;
        color: $color-error;
        .loading-spinner{
          --spinner-color: #0000bf;
        }
        span{
          font-family: "Helsinki Grotesk Medium", sans-serif;
          font-size: $size16;
          padding-left: 10px;
        }
      
      }
      p{
        font-family: "Helsinki Grotesk Medium", sans-serif;
        font-size: $size16;
        padding-left: 8px;
        color: $dropdown-text-color;
      }
      .check-icon{
        display: flex;
      }
    }
  }
  &.edit-header-dev {
    div:not(.spinner-container,.spinner-container *){
    background-color: $color-brick-light;
    }
  }
  svg{
    display: none;
  }
  button{
    font-family: "Helsinki Grotesk Medium", sans-serif;
    color: $color-bus;
    pointer-events: auto;
    div{
      margin-left: -10px !important;
    }
    svg{
      display: inline-block;
      color: $color-bus;
    }
  }
  button:hover{
    color: $color-bus;
    text-decoration: underline;
    span{
      color: $color-bus;
    }
  }
  button:after{
    background-color: unset !important;
  }
  div:after{
    background-color: unset !important;
  }
  .error{
    color: $color-error !important;
  }
  .icons-container-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .error{
      margin-bottom: 0;
      padding-right: 8px;
      color: $color-error !important;
    }
    .error-icon{
      display: inline-flex;
      color: $color-error !important;
    }
    .question-icon{
      display: inline-flex;
      color: $black1;
      svg{
        color:$black1;
      }
    }
  }
}

// HDS Tooltip styling for icons-container-flex
.icons-container-flex {
  .Tooltip-module_tooltip {
    background-color: $color-coat-of-arms;
    color: $white;
    
    .Tooltip-module_arrow {
      &:before {
        border-color: $color-coat-of-arms;
      }
    }
  }

  // Ensure tooltip arrow is visible
  [class*="Tooltip-module_arrow"] {
    &:before {
      content: "";
      position: absolute;
      border: 6px solid transparent;
      border-bottom-color: $color-coat-of-arms;
      top: 4px;
      left: -6px;
    }
  }
}

.document-page-header {
  header{
    --header-height: 56px;
    z-index: $z-index-sticky;
  }

  nav {
    margin-left: 0 !important;
  }

  div:not(.spinner-container,.spinner-container *) {
    cursor: default;
    font-size: $size16;
    border: none !important;
  }

  svg {
    display: none;
  }

  button {
    font-family: "Helsinki Grotesk Medium", sans-serif;
    color: $color-bus;
    pointer-events: auto;

    div {
      margin-left: -10px !important;
    }

    svg {
      display: inline-block;
      color: $color-bus;
    }
  }

  button:hover,
  button:active:hover {
    color: $color-bus;
    text-decoration: underline;
    background-color: transparent;

    span {
      color: $color-bus;
    }
  }

  button:after {
    background-color: unset !important;
  }

  div:after {
    background-color: unset !important;
  }
}

.link-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4px;
  svg{
    color: $white;
    margin-left: 4px;
  }
}

.link-underlined{
  display: flex;
  align-items: center;
  font-family: "Helsinki Grotesk Medium", sans-serif;
  color: $color-bus;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.link-underlined:hover{
  display: flex;
  align-items: center;
  font-family: "Helsinki Grotesk Medium", sans-serif;
  color: $color-bus;
  text-decoration: underline;
  font-weight: 500;
}
  
.nav-header-container {
  display: flex;
  align-items: center;
  font-family: 'Helsinki Grotesk Regular', sans-serif;

  .nav-header-inner-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .nav-header-route {
      display: none;
      color: black;

      .nav-header-route-items {
        font-weight: 100;

        span a {
          color: black;
        }

        span:not(:last-of-type)::after {
          content: '>>';
          margin-left: 8px;
          margin-right: 8px;
        }
      }
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
    


    .nav-header-content {
      margin-top: 120px;
      margin-bottom: 32px;

      &.edit {
        margin-top: 106px;
      }

      &.documents {
        margin-top: 97px;
      }

      @media screen and (max-width: 725px) { 
        margin-top: 0;


      }
      .nav-header-titles {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        .nav-menu-container{
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
          .nav-menu-buttons{
            display: flex;
            align-items: center;
          }
        }

        .ui{
          margin-top: 0;
          margin-bottom: 0;
        }

        .column{
          padding-top: 0;
          padding-bottom: 0;
        }

        .nav-header-subtitle {
          margin: 0 0 0 32px;
        }

        @media screen and (max-width: 725px) {
          flex-direction: column;
          align-items: flex-start;
          .nav-header-subtitle {
            margin: 0;
          }
        }
      }

      .nav-header-info {
        font-size: $size14;
        line-height: $size24;
        margin-top: 0;
        padding-right: 20px;

        @media screen and (max-width: 599px) {
          width: 100%;
          }

        .ui.dropdown {
          align-items: center;
          display: inline-flex;

          .menu {
            max-width: 100%;
          }
        }

        .text {
          max-width: calc(100% - 32px);
        }

        button{
          font-size: $size16;
          font-family: 'Helsinki Grotesk Medium', sans-serif;
        }
        button:focus-within{
          box-shadow: 0 0 0 3px $color-coat-of-arms;
        }
      }

      .nav-select-container{
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        #editNavSelect-menu{
          //max-height: unset !important;
          width: 320px;
          left: -117px;
          bottom: -6px;
          border: 1px solid $border-black;
          -webkit-box-shadow:0px 2px 8px $dropdown-blur-color;
          -moz-box-shadow:0px 2px 8px $dropdown-blur-color;
          box-shadow:0px 2px 8px $dropdown-blur-color;
          li{
            color: $dropdown-text-color;
            background-color:white;
            padding-left: 14px;
            justify-content: flex-start;
            min-height: 42px;
            padding-top: 0;
            padding-bottom: 0;
            font-size: $size16;
            i{
              color: $dropdown-icon-color;
              margin-right: 14px;
              font-size: $size16;
            }
          }
          li:nth-child(4){
            border-top: 1px solid $dropdown-divider-color;
          }
          #editNavSelect-item-5{
            color:$color-error;
            border-top: 1px solid $dropdown-divider-color;
            i{
              color: $color-error;
            }
          }
          li:hover{
            color: $color-white !important;
            background-color:$color-bus !important;
          }

        }
      }

    }

    .project-info{
      table{
        border-spacing: 4px;
        tr{
          font-size: $size16;
          font-family: 'Helsinki Grotesk Bold', sans-serif;
          color: $dropdown-text-color;
          text-align: left;
        }
        td{
          font-size: $size16;
          font-family: 'Helsinki Grotesk Regular', sans-serif;
          color: $dropdown-text-color;
          padding-left: 32px;
          a{
            svg{
              margin-left: 8px;
            }
          }
        }
      }
    }

    .nav-header-actions {
      display: flex;
      flex-wrap: wrap;
      margin-top: $size12;
      margin-bottom: $size12;
      justify-content: flex-end;
      width: 100%;

      .action-item {
        margin: 10px 10px 0 0;
        white-space: nowrap;

        > svg {
          margin-right: $size16;
          width: $size24;
          height: $size24;
        }

        @media screen and (max-width: 599px) {
          font-size: $size12;
          height: 32px;
          margin-left: 8px;
        }
      }
    }

  }
  
}

.align-left{
  display: flex;
  flex-flow: row;
  nav{
    margin-left: 0 !important;
  }
  a {
    font-size: $size16;
    font-family: "Helsinki Grotesk Regular", sans-serif;
    justify-content: left;
    padding-left: $size20;
    padding-bottom: 30px;
  }
  a:hover{
    font-size: $size16;
    color: $color-black;
    text-decoration: underline;
  }
  span{
    justify-content: left;
  }
}

.align-right > div{
  justify-content: end;
}

.align-right{
  a{
    font-family: "Helsinki Grotesk Regular", sans-serif;
    font-size: $size16;
  }
  a:hover{
    font-size: $size16;
    color: $color-black;
    text-decoration: underline;
  }
  button{
    font-size: $size16;
    font-family: "Helsinki Grotesk Regular", sans-serif;
  }
}

.loader-icon {
  margin-left: auto;
  margin-right: auto;
}

.loader-icon-right-margin {
   margin-right: 10px;
}

.full-width {
  width: 100%;
}

.log-item:not(:last-child) {
  padding-bottom: 10px;
}
.log-item {
  &.deleted {
   background-color: red;
  }
}
.log-card {
  font-size: $size16;
  max-width: 320px;
  max-height: 200px;
  width: 100%;
  overflow: auto;
  position: absolute;
  z-index: 4;
  margin-top: 5px;
  margin-left: -69px;
  .ui.grid>.row {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.inline {
  display: inline;
}
.pointer {
  cursor: pointer;
}
.latest-update {
  text-align: left;
}
.info-box {
  height: 44px;
  margin-left: 0 !important;
  margin-right: 0 !important;


  .icon-area {
    background-color: $yellow2;
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;

    .icon {
      height: 42px;
    }
    
  }
  .content {
    background-color: $yellow;
    display: inline-flex;

    .text {
      margin: auto;
      padding-left: 10px;
      padding-right: 10px;
    }

  }

}
.info-icon {
  cursor:pointer;
}

.filter-dropdown{
  ul{
    overflow-y: overlay;
  }
}

.required-error-text{
  color: $color-error;
  svg{
    vertical-align: bottom;
    margin-right: 5px;
  }
}

.required-success-text{
  color: $color-success;
  svg{
    vertical-align: bottom;
    margin-right: 5px;
  }
}

.italic-text{
  font-style: italic;
  font-size: $size14;
}

.assistive{
  color: $color-black-60;
  padding-top: 8px;
  padding-bottom: $size16;
}

.Toastify__toast-container--top-right {
  top: 3.5em;
  right: 1em;
}

.assistive-text{
  color: $color-black-60;
  margin-top: $size8;
}

.tooltip {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .5);
  z-index: 80;
}

.timetable-confirm-modal.timetable-confirm-modal  {
  height: auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  max-width: 558px;
  max-height: 245px;
  border-top:4px solid $color-bus;

  .header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Helsinki Grotesk Medium', sans-serif;
    font-size: $size18 !important;
    font-weight: 700 !important;
    line-height: $size18 !important;
    letter-spacing: 0.004em;
    text-align: left;
    color: $black1;
    padding-top: 0;
    .header-icon{
      width: $size24;
      height: $size24;
    }
  }

  .header, .content, .actions {
    padding-left: $size32 !important;
    margin-left: $size16 !important;
    margin-bottom: $size24 !important;
    margin-top: $size24 !important;
  }

  .actions {
    display: flex;
    justify-content: flex-start;

    .button-primary,.button-danger,.button-secondary {
      margin-right: $size16;
    }
  }
}

.timetable-danger-modal.timetable-danger-modal  {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  max-width: 558px;
  min-height: 200px;
  height: fit-content;
  max-height: 250px;
  border-top:8px solid $color-error;

  .header{
    padding-top: $size34 !important;
    padding-left: $size34 !important;
    padding-bottom: $size16 !important;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Helsinki Grotesk Medium', sans-serif;
    font-size: $size18 !important;
    font-weight: 700 !important;
    line-height: $size18 !important;
    letter-spacing: 0.004em;
    text-align: left;
    color: $black1;
    .header-text {
      margin-left: 8px;
    }
    .header-icon{
      width: $size24;
      height: $size24;
    }
  }

  .content {
    font-weight: 400;
    font-size: $size16;
    line-height: $size24;
    padding-left: $size34 !important;
    margin-left: 0 !important;
  }

  .actions {
    display: flex;
    justify-content: flex-start;
    margin: 0 !important;
    padding-left: $size34 !important;
    padding-top: $size16 !important;
    padding-bottom: $size24 !important;
    font-family: 'Helsinki Grotesk Medium', sans-serif !important;

    .button-primary,.button-danger,.button-secondary {
      margin-right: $size16;
    }
    .button-secondary{
      border: 2px solid $color-error;
      color: $color-error;
      &:hover {
        background-color: $color-error-light;
      }
    }
  }
}

// Style for the custom toastr with default error animation
.redux-toastr{
  .large-scrollable-toastr {

    .toast {
      width:  500px; // Make the toastr wider
      height: auto;
      padding: 20px;
    }

    .toast-message {
      max-height: 300px; // Limit the height to make it scrollable
      overflow-y: auto; // Enable vertical scrolling
      font-size: 16px; // Make the font size larger for readability
    }

    .toast-title {
      font-size: 18px !important; // Increase the size of the title
    }
  }

  .top-center {
    .rrt-error, .rrt-warning, .rrt-info, .rrt-success {
      width: 500px !important;
    }
  }

  .rrt-middle-container {
      width: 75% !important; // Make the middle container wider
      top: 14px;
    }

  // Style for default container classes (left, middle, right)
  .rrt-left-container, .rrt-middle-container, .rrt-right-container {
    padding: 10px !important; // Add padding for spacing
    .rrt-text{
      word-wrap: break-word !important;
      overflow: auto !important;
      max-height: 200px !important;
      color: #1A1A1A;
    }
    .toast {
      width: 500px; // Ensure consistent width across all containers
    }
  }

}

.redux-toastr {
  .toastr {
    &.rrt-success,
    &.rrt-info,
    &.rrt-error,
    &.rrt-warning {
      border-radius: 0 !important;
      padding: 6px 16px;
      max-width: 360px;
      width: 100%;
      display: flex;
      align-items: flex-start;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) !important;
      min-height: 84px;
      color: #1a1a1a;
      opacity: 1 !important;

      > div {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
      }

      .rrt-left-container {
        position: relative;
        width: auto;
        top: unset;
        left: unset;
        bottom: unset;
        display: flex;
        padding: 0 !important;
        padding-top: 10px !important;

        .rrt-holder {
          width: auto;
          height: 24px !important;
          position: relative;
          top: unset;
          margin-top: unset;
          left: unset;
          line-height: unset;
        }

        .toastr-icon {
          width: 24px !important;
          height: 24px !important;
          padding: 3px;
          margin: 0;
          border-radius: 50%;
          display: inline-block;
        }
      }

      .rrt-middle-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: auto;
        font-family: 'Helsinki Grotesk Bold', sans-serif;
        padding: 10px 10px !important;
        top: 0;

        .rrt-title {
          font-size: 18px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: normal;
          margin: 0;
          color: #1a1a1a;
        }

        .rrt-message, .rrt-text {
          font-size: 14px;
          line-height: 24px;
          color: #1a1a1a;
          padding-top: 16px;
          margin-left: -30px;
          font-family: 'Helsinki Grotesk regular', sans-serif;
        }
      }

      .rrt-right-container {
        margin-left: 8px;
        display: flex;
        align-items: flex-start;

        .close-toastr {
          color: #000 !important;
          font-size: 18px;
          cursor: pointer;
          opacity: 1;
          padding: 0;
          line-height: 1;

          span {
            top: 26px;
            font-size: 18px;
            font-weight: 900;
            margin-right: 20px;
          }
        }
      }
    }

    &.rrt-success {
      background-color: #e2f5f3 !important;
      border-top: 8px solid #277a64 !important;
      .rrt-holder{
        svg{
         color: #277a64;
        }
      }
      .toastr-icon {
        fill: #277a64 !important;
      }
    }

    &.rrt-info {
      background-color: #e5eff8 !important;
      border-top: 8px solid #2b62b9 !important;
      .rrt-holder{
        svg{
         color: #2b62b9;
        }
      }
      .toastr-icon {
        fill: #2b62b9 !important;
      }
    }

    &.rrt-error {
      background-color: #f6e2e6 !important;
      border-top: 8px solid #b01039 !important;
      .rrt-holder{
        svg{
         color: #b01039;
        }
      }
      .toastr-icon {
        fill: #b01039 !important;
      }
    }

    &.rrt-warning {
      background-color: #fcf4b4 !important;
      border-top: 8px solid #d18202 !important;
      .rrt-holder{
        svg{
         color: #d18202;
        }
      }
      .toastr-icon {
        fill: #d18202 !important;
      }
    }
  }
}
.redux-toastr .toastr:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) !important;
  opacity: 1 !important;
}

