@font-face {
  font-family: 'Helsinki Grotesk Regular';
  src: url('../../assets/fonts/HelsinkiGrotesk-Regular.woff') format('woff'),
       url('../../assets/fonts/HelsinkiGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helsinki Grotesk Bold';
  src: url('../../assets/fonts/HelsinkiGrotesk-Bold.woff') format('woff'),
       url('../../assets/fonts/HelsinkiGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helsinki Grotesk Medium';
  src: url('../../assets/fonts/HelsinkiGrotesk-Medium.woff') format('woff'),
       url('../../assets/fonts/HelsinkiGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helsinki Grotesk Medium Italic';
  src: url('../../assets/fonts/HelsinkiGrotesk-MediumItalic.woff') format('woff'),
       url('../../assets/fonts/HelsinkiGrotesk-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
