@import '../common/colors.scss';

.hightlight-pääkäyttäjä {
  .Pääkäyttäjät {
    outline: 20px $yellow solid;
  }
  .checkbox.Pääkäyttäjät {
    outline: none;
    background-color: $yellow !important;
  }
}

.hightlight-asiantuntija {
  .Asiantuntijat {
    outline: 20px $yellow solid;
    z-index: 0;
  }
  .checkbox.Asiantuntijat {
    outline: none;
    background-color: $yellow !important;
  }
}
.checkbox.Pääkäyttäjät {
  background: none !important;
}
.form-container {
  flex: 1;
  width: 100%;
  background-color: white;
  padding: 0;

  .edit-form-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > button {
      margin: 0;
      width: calc((100% - 16px) / 2);

      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .section-title {
    margin: 0 0 0 8px;
    position: sticky;
    top: 137px;
    padding: 20px;
    z-index: 2;
    background-color: $light-gray3;

    @media screen and (min-width: 600px) {
      margin: 0;
    }
  }

  & > div:not(:first-child) {
    margin-top: 32px;
  }

  .form-button-container {
    :nth-child(n) {
      margin-right: 5px;
    }
  }

  @media screen and (min-width: 600px) {
    width: 90%;
    h2 {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 600px){
  .form-container{
      padding-top: 120px !important;
  }
}

.project-input-container {
  display: flex;
  align-items: flex-start;
  margin: 40px auto 40px auto;

  @media screen and (max-width: 695px) {
    margin: 0 0 40px 0;
  }

  @media screen and (max-width: 545px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .scroll-to-top {
    cursor: pointer;
    display: flex;
    float: right;
    margin-top: 48px;
  }
}

.project-input-left {
  display: none;
  flex-direction: column;
  flex: 1;
  padding-right: 8px;
  position: relative;
  min-width: 30%;
  max-width: 400px;
 
  @media screen and (min-width: 600px) {
    display: flex;
  }

  @media screen and (min-width: 960px) {
    display: flex;
    padding-right: 48px;
  }
  @media screen and (min-height: 768px) {
    position: sticky;
    top: 220px;
  }
}

.timeline {
  cursor: pointer;
  padding-bottom: 20px;
}

.project-edit-form-filter{
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 73px;
  z-index: 4;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: $light-gray3;
  border-bottom: 1px solid $light-gray;
  min-height: 139px;
  .toggle-filters{
    margin-left: auto;
  }
  .left-container{
    flex: 0 80%;
    line-height: 1.5;

    p{
      line-height: 1.5;
      margin: 0;
    }

    b{
      color: black;
    }
  
    .filter-tag{
      background-color: $gray;
      border-radius: 25px;
      line-height: 1.5;
    }

    .filter-tag:focus{
      --tag-focus-outline-color: transparent;
    }
  
    & > .filter-tag{
      margin-left: 0;
    }
  
    & > .filter-tag ~ .filter-tag{
      margin-left: 20px;
    }
  
    .yellow{
      background-color: $tagyellow;
      --tag-focus-outline-color: transparent;
    }

    .yellow:focus{
      --tag-focus-outline-color: transparent;
    }
  
    .filter-tag-info{
      display: flex;
      width: 100%;
      span{
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .filter-tag-info.is-pinned {
      display: none;
    } 

    div{
      padding-top: 5px;
      padding-bottom:5px;
    }
  }

  .right-container{
    flex: 0 20%;
    display: flex;
    justify-content: flex-end;
    button{
      background-color: white;
    }
  }

}

.required-fields-container{
  ul{
    font-size: $size16;
    li{
      padding-top: 10px;
      .required-fields-notification-link{
        text-decoration: underline;
        color: $color-bus;
      }
    }
  }
}

#noErrorsToastr{
  font-size: $size14;
  border-top: 6px solid $color-success-dark;
  background-color: $color-success-light;
  .Toastify__toast-body{
    align-items: flex-start;
  }
  .Toastify__toast-icon{
    position: absolute;
    top: 15px;
    svg{
      fill: $color-success-dark;
    }
  }
  h3{
    margin-left: 30px;
    .icon-container{
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }
  p{
    color: $black;
    padding-top: 10px;
  }
}

#errorsToastr{
  font-size: $size14;
  border-top: 6px solid $color_error_hds;
  background-color: $color-white;
  .Toastify__toast-body{
    align-items: flex-start;
  }
  .Toastify__toast-icon{
    position: absolute;
    top: 15px;
    svg{
      fill: $color_error_hds;
    }
  }
  h3{
    margin-left: 30px;
    .icon-container{
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }
  p{
    color: $black;
    padding-top: 10px;
  }
}

.sticky{
  min-height: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  /* Modal Content/Box */
  .modal-content {
    background-color: $color-white;
    margin: 15%; /* 15% from the top and centered */
    border: 1px solid $color-black;
    font-size: $size16;
    max-width: 1148px;
    width: fit-content;
    .modal-header {
      padding: 20px;
      background-color: $color-white;
      border-bottom: 1px solid $light-gray;
    }
    
    .modal-body {
      padding: 20px;
      font-family: "Helsinki Grotesk Regular", sans-serif;
      .remove-filters{
        color: $color-error-dark;
        padding-left: 0;
        margin-left: 0;
        div{
          padding-left: 0;
          margin-left: 0;
        }
      }
    }
    
    .modal-footer {
      padding: 20px;
      font-family: "Helsinki Grotesk Regular", sans-serif;
      background-color: $color-white;
      border-top: 1px solid $light-gray;
    }
  }

  /* The Close Button */
  .close {
    margin-left:20px;
  }

  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
}