@import '../common/colors.scss';

.hightlight-pääkäyttäjä {
  .Pääkäyttäjät {
    outline: 20px $yellow solid;
  }
  .checkbox.Pääkäyttäjät {
    outline: none;
    background-color: $yellow !important;
  }
}

.hightlight-asiantuntija {
  .Asiantuntijat {
    outline: 20px $yellow solid;
    z-index: 0;
  }
  .checkbox.Asiantuntijat {
    outline: none;
    background-color: $yellow !important;
  }
}
.checkbox.Pääkäyttäjät {
  background: none !important;
}
.form-container {
  flex: 1;
  width: 100%;
  background-color: white;
  padding: 0;

  .edit-form-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > button {
      margin: 0;
      width: calc((100% - 16px) / 2);

      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .section-title {
    font-family: 'Helsinki Grotesk Bold', sans-serif;
    font-weight: 700;
    font-size: $size24;
    color: $black1;
    background-color: $white-background;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 4px;
  }

  .section-ingress{
    font-family: 'Helsinki Grotesk Regular', sans-serif;
    font-size: $size14;
    color: $black1;
    padding-bottom: 11px;
    border-bottom: 2px solid $black1;
    min-height: 35px;
  }

  .form-button-container {
    :nth-child(n) {
      margin-right: 5px;
    }
  }

  @media screen and (min-width: 600px) {
    width: 90%;
    overflow: auto;
    h2 {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 600px){
  .form-container{
      padding-top: 120px !important;
  }
}

.project-input-container {
  display: flex;
  align-items: flex-start;
  margin: 40px auto 40px auto;

  @media screen and (max-width: 695px) {
    margin: 0 0 40px 0;
  }

  @media screen and (max-width: 545px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .scroll-to-top {
    cursor: pointer;
    display: flex;
    float: right;
    margin-top: 48px;
  }
}

.project-input-left {
  display: none;
  flex-direction: column;
  flex: 1;
  padding-right: 8px;
  position: relative;
  min-width: 30%;
  max-width: 400px;
 
  @media screen and (min-width: 600px) {
    display: flex;
  }

  @media screen and (min-width: 960px) {
    display: flex;
    padding-right: 48px;
  }
  @media screen and (min-height: 768px) {
    position: sticky;
    top: 220px;
  }
}

.timeline {
  cursor: pointer;
  padding-bottom: 20px;
}

.project-edit-form-filter{
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 57px;
  z-index: 4;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: $light-gray3;
  border-bottom: 1px solid $light-gray;
  min-height: 139px;
  .toggle-filters{
    margin-left: auto;
  }
  .left-container{
    flex: 0 80%;
    line-height: 1.5;

    p{
      line-height: 1.5;
      margin: 0;
    }

    b{
      color: black;
    }
  
    .filter-tag{
      background-color: $gray;
      border-radius: 25px;
      line-height: 1.5;
    }

    .filter-tag:focus{
      --tag-focus-outline-color: transparent;
    }
  
    & > .filter-tag{
      margin-left: 0;
    }
  
    & > .filter-tag ~ .filter-tag{
      margin-left: 20px;
    }
  
    .yellow{
      background-color: $tagyellow;
      --tag-focus-outline-color: transparent;
    }

    .yellow:focus{
      --tag-focus-outline-color: transparent;
    }
  
    .filter-tag-info{
      display: flex;
      width: 100%;
      span{
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .filter-tag-info.is-pinned {
      display: none;
    } 

    div{
      padding-top: 5px;
      padding-bottom:5px;
    }
  }

  .right-container{
    flex: 0 20%;
    display: flex;
    justify-content: flex-end;
    button{
      background-color: white;
    }
  }

}

.required-fields-container{
  ul{
    font-size: $size16;
    li{
      padding-top: 10px;
      .required-fields-notification-link{
        text-decoration: underline;
        color: $color-bus;
      }
    }
  }
}

#noErrorsToastr{
  font-size: $size14;
  border-top: 6px solid $color-success-dark;
  background-color: $color-success-light;
  .Toastify__toast-body{
    align-items: flex-start;
  }
  .Toastify__toast-icon{
    position: absolute;
    top: 15px;
    svg{
      fill: $color-success-dark;
    }
  }
  h3{
    margin-left: 30px;
    .icon-container{
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }
  p{
    color: $black;
    padding-top: 10px;
  }
}

#saveOk{
  pointer-events: none;
  font-size: $size14;
  border-top: 6px solid $color-info-dark;
  background-color: $color-info-light;
  .Toastify__toast-body{
    align-items: flex-start;
  }
  .Toastify__toast-icon{
    position: absolute;
    top: 15px;
    svg{
      fill: $color-info-dark;
    }
  }
  h3{
    margin-left: 30px;
    .icon-container{
      position: absolute;
      top: 15px;
      right: 10px;
      pointer-events: all;
    }
  }
  p{
    color: $black;
    padding-top: 10px;
  }
}

#errorsToastr{
  font-size: $size14;
  border-top: 6px solid $color-error;
  background-color: $color-error-light;
  .Toastify__toast-body{
    align-items: flex-start;
  }
  .Toastify__toast-icon{
    position: absolute;
    top: 15px;
    svg{
      fill: $color-error;
    }
  }
  h3{
    margin-left: 30px;
    .icon-container{
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }
  p{
    color: $black;
    padding-top: 10px;
  }
}

.saveFailToastr{
  pointer-events: none;
  font-size: $size14;
  border-top: 6px solid $color-error;
  background-color: $color-error-light;
  .Toastify__toast-body{
    align-items: flex-start;
  }
  .Toastify__toast-icon{
    position: absolute;
    top: 15px;
    svg{
      fill: $color-error;
    }
  }
  h3{
    margin-left: 30px;
    .icon-container{
      position: absolute;
      top: 15px;
      right: 10px;
      cursor: pointer;
      pointer-events: all;
    }
  }
  p{
    color: $black;
    padding-top: 10px;
  }
  button{
    background-color: $color-error;
    border-color: $color-error;
    margin-top:5px;
  }
  button:hover{
    background-color: $color-error;
    border-color: $color-error;
    margin-top:5px;
  }
  .close-button{
    width: 36px;
    height: 36px;
    pointer-events: all;
    background-color: $color-error-light;
    border-color: $color-error-light;
    margin-top: 5px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .close-button:hover{
    width: 36px;
    height: 36px;
    background-color: $color-error-light;
    border-color: $color-error;
  }
  .middle-container{
    padding-top: 0;
    padding-bottom: 0;
    p{
      margin: 0;
    }
    .font-bold{
      font-family: "Helsinki Grotesk Bold", sans-serif;
    }
    font-size: $size14;
    pointer-events: all;
    [role=heading]{
      font-size: 18px;
    }
    .error-fields-container{
      padding-top: 10px;
      .error-field{
        font-size: $size14;
        p{
          padding-top: 2px;
        }
      }
      .error-value{
        padding-bottom: 10px;
        font-size: $size14;
        p{
          padding-top: 2px;
          text-overflow: ellipsis;
          overflow: hidden; 
          width: 180px;
          white-space: nowrap;
        }
        .fieldset-info{
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .error-info-close{
        display: none;
      }
    }
  }
  .bottom-container{
    margin-bottom: 5px;
  }
}

.sticky{
  min-height: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  /* Modal Content/Box */
  .modal-content {
    background-color: $color-white;
    margin: 15%; /* 15% from the top and centered */
    border: 1px solid $color-black;
    font-size: $size16;
    max-width: 1148px;
    width: fit-content;
    .modal-header {
      padding: 20px;
      background-color: $color-white;
      border-bottom: 1px solid $light-gray;
    }
    
    .modal-body {
      padding: 20px;
      font-family: "Helsinki Grotesk Regular", sans-serif;
      .remove-filters{
        color: $color-error-dark;
        padding-left: 0;
        margin-left: 0;
        div{
          padding-left: 0;
          margin-left: 0;
        }
      }
    }
    
    .modal-footer {
      padding: 20px;
      font-family: "Helsinki Grotesk Regular", sans-serif;
      background-color: $color-white;
      border-top: 1px solid $light-gray;
    }
  }

  /* The Close Button */
  .close {
    margin-left:20px;
  }

  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
}