@use 'components/shoutbox/comments/Comments.scss';
@use 'components/common/Common.scss';
@use 'components/error/Error.scss';
@use 'components/input/Input.scss';
@use 'components/project/Project.scss';
@use 'components/projectList/ProjectList.scss';
@use 'components/projectEdit/ProjectEdit.scss';
@use 'components/projectCard/projectCard.scss';
@use 'components/projectDocuments/ProjectDocuments.scss';
@use 'components/reports/Reports.scss';
@use "components/common/colors";

@import 'react-redux-toastr/dist/react-redux-toastr.min.css';
@import '../node_modules/react-datetime/css/react-datetime.css';
html{
  font-size: colors.$size16;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helsinki Grotesk Regular', sans-serif;
  font-size: colors.$size16;
  color: colors.$color-black-90;
  p{
    font-family: "Helsinki Grotesk Regular", sans-serif;
  }
}

#root {
  height: 100%;
  min-height: 1600px;
  display: flex;
  flex-direction: column;
}

@media print {
  .timeline-container,
  .navbar-container,
  .nav-header-container,
  .footer-container,
  .project-card-extend,
  .chart {
    & {
      display: none;
    }
  }

  .body,
  #root {
    all: unset;
  }

  .summary {
    overflow: visible !important;
  }

  @page {
    size: landscape;
    margin: 2cm;
  }
}
