@use './components/common/Common';
@use '@/components/common/Fonts'; // single global font-face import
@import 'react-redux-toastr/lib/css/react-redux-toastr.min.css';
@import '../node_modules/react-datetime/css/react-datetime.css';

html{
  font-size: $size16;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helsinki Grotesk Regular', sans-serif;
  font-size: $size16;
  color: $color-black-90;
  p{
    font-family: "Helsinki Grotesk Regular", sans-serif;
  }
}

#root {
  height: 100%;
  min-height: 1600px;
  display: flex;
  flex-direction: column;
}

@media print {
  .timeline-container,
  .navbar-container,
  .nav-header-container,
  .footer-container,
  .project-card-extend,
  .chart {
    & {
      display: none;
    }
  }

  .body,
  #root {
    all: unset;
  }

  .summary {
    overflow: visible !important;
  }

  @page {
    size: landscape;
    margin: 2cm;
  }
}