.timeline-graph-container {
  font-family: 'Helsinki Grotesk Medium', sans-serif;
  padding: 2.5rem 0rem 1.25rem 0rem;
  height: 9.125rem;
  margin-top: 1.25rem;
  overflow: hidden;
  position: relative;
  background-color: $color-black-5;
  
  .timeline-error-message {
    position: absolute;
    z-index: 4;
    margin-left: -160px;
    left: 50%;
    top: 0.9rem;
    width: 336px;
    height: 119px;
  }
  .timeline-onhold-message {
    position: absolute;
    z-index: 4;
    margin-left: -160px;
    left: 40%;
    top: 0.9rem;
    width: 603px;
    height: 120px;
    border-left: 8px solid #D18200;
    background-color: #FFF4B4;
    text-align: center;
    font-size: $size18;
    font-weight: 700;

    span {
      position: absolute;
      top: 0.9rem;
      left: 48px;
      opacity: 1;
    }
    p {
      font-size: $size14;
      font-weight: 400;
      position: absolute;
      top: 3.5rem;
      left: 16px;
      width: 80%;
      text-align: flex-start;
    }
    .alert-icon-yellow {
      z-index: 1000;
      position: absolute;
      left: 16px;
      top: 1rem;
      padding: 0;
      width: 24px;
      height: 24px;
      background: url('../../assets/icons/alert-icon-yellow.svg') no-repeat;
      background-position-x: center;
      background-position-y: center;
      background-size: $size24;
    }
  }

  .timeline-load-project-message {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 1rem;
    text-align: center;
  }

  .timeline-item-container {
    display: grid;
    gap: 0;

    .timeline-item {
      box-sizing: content-box;
      position: relative;
      margin-bottom: 2.5rem;
      height: 1.5rem;
      border: 1px solid $color-black-90;
      border-right: none;
      border-left: none;
      &.first {
        border-top-left-radius: 1.25rem;
        border-bottom-left-radius: 1.25rem;
        border-left: 1px solid $color-black-90;
        border-right: none;
      }
      &.last {
        border-top-right-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
        border-right: 1px solid $color-black-90;
        border-left: none;
      }
      .deadline-name-over {
        font-family: 'Helsinki Grotesk Medium', sans-serif;
        position: absolute;
        bottom: 1.75rem;
        font-size: $size14;
        width: 118px;
        font-weight: 544;
        color: $color-black-90;
      }
      .deadline-milestone {
        .milestone-message {
          position: absolute;
          top: 2rem;
          line-height: normal;
          font-size: $size14;
        }
        .milestone-icon {
          position: absolute;
          z-index: 3;
          width: 1rem;
          height: 1rem;
          top: 3px;
          &.square {
            top: 0.625rem;
            left: 0.125rem;
            width: 100%;
            height: 2px;
            z-index: 2;
            &.second {
              left: 0.625rem;
            }
            &.black {
              background-color: $black;
            }
          }
          &.inner {
            top:3px;
            height: 1rem;
            width: calc(100% + 1px) !important;
            left: 0;
            border: 1px solid $color-black-90;
            border-left: none;
            border-right: none;
            &.start {
              width: 17px;
              left: auto;
              border-bottom-left-radius: 1rem;
              border-top-left-radius: 1rem;
              border-left: 1px solid $color-black-90;
            }
            &.end {
              width: 17px;
              left: auto;
              right: 2px;
              border-bottom-right-radius: 1rem;
              border-top-right-radius: 1rem;
              border-right: 1px solid $color-black-90;
            }
          }
          &.sphere {
            border-radius: 1rem;
            right: 2px;
            border: 1px solid $color-black-90;
            &.black {
              border: 2px solid $white;
            }
          }
          &.white {
            background-color: $white;
          }
          &.black {
            background-color: $color-black-90;
          }
        }
      }
    }
  }
  .timeline-months {
    display: grid;
    grid-template-columns: repeat(13, 1fr);

    .timeline-month {
      border-bottom: 2px solid $color-disabled;
      border-left: 2px solid $color-disabled;
      color: $color-black-60;
      text-align: center;
      position: relative;
      height: 10px;
      margin-bottom: 30px;
      font-size: $size14;
      span {
        position: absolute;
        left: 0px;
        top: 8px;
      }
      .timeline-now-month {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        .now-marker {
          width: 1px;
          height: 60px;
          border: 1px solid blue;
          margin-top: -50px;
          span {
            left: 1rem;
            top: 1rem;
            color: $color-black-90;
            margin-top: -34px;
          }
        }
      }
    }
  }
}
.timeline-error {
  color: $color-disabled;
}
.timeline-error-no-items {
  color: $color-disabled;
  padding-top: 33px;
}
.hide-background {
  opacity: 0.8;
}
