@use '../../../../components/common/colors.scss';

.role-highlight-picker {
  border: 2px solid colors.$light-gray3;
  justify-content: stretch;
  padding: 0px 32px 10px 32px;
  margin-top: 16px;

  h3:first-child {
    margin-top: 4px;
  }
  .role-buttons {
    font-family: "Helsinki Grotesk Bold";
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .role-button {
    cursor: pointer;
    font-size: colors.$size16;
    font-weight: bold;

    &.active {
      text-decoration: underline;
    }
  }
}
